Repository smaller-world/happytown.life: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, tsc, srb, rubocop, herb-lint, herb-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      run: bunx prettier --write {staged_files}
      glob: "*.{ts,tsx,js,jsx,css,yml,yaml,json,md,html}"
      stage_fixed: true

    eslint:
      run: >-
        bunx eslint --report-unused-disable-directives --no-warn-ignored --fix
        --cache "{staged_files}"
      glob: "*.{ts,tsx,js,jsx}"
      stage_fixed: true

    tsc:
      run: bunx tsc --noEmit
      glob: "*.{ts,tsx}"

    srb:
      run: bundle exec srb tc
      glob: "*.{rb,rbi}"

    rubocop:
      run:
        bin/rubocop --force-exclusion --cache=true --autocorrect {staged_files}
      glob: "*.{rb,rbi}"
      stage_fixed: true

    herb-lint:
      run: bunx herb-lint --fix {staged_files}
      glob: "*.{html.erb}"
      stage_fixed: true

    herb-format:
      run: bunx herb-format {staged_files}
      glob: "*.{html.erb}"
      stage_fixed: true

Added more logging to jobs
  app/agents/whatsapp_group_agent.rb
  app/jobs/import_whatsapp_group_memberships_job.rb
  app/jobs/import_whatsapp_group_metadata_job.rb
  app/jobs/send_whatsapp_group_intro_job.rb
  app/jobs/send_whatsapp_group_message_job.rb
  app/jobs/send_whatsapp_group_reply_job.rb
  app/jobs/truncate_webhook_messages_job.rb
  app/models/whatsapp_group.rb
  app/models/whatsapp_message.rb
  app/views/agents/whatsapp_group/introduce_yourself.md.erb
  app/views/agents/whatsapp_group/reply.md.erb
  sorbet/rbi/dsl/send_whatsapp_group_message_job.rbi
Due: srb, rubocop

Wrong URL options for ForwardWebhookMessageToDevServerJob
  .cursor/mcp.json
  .mcp.json
  app/jobs/forward_webhook_message_to_dev_server_job.rb
Due: prettier, srb, rubocop

Parse phone mentions with Phonelib before WhatsApp user lookup
  app/agents/whatsapp_group_agent.rb
Due: srb, rubocop

Use openrouter/aurora model (pony was sunsetted)
  config/active_agent.yml
Due: prettier

Fix tag casing
  app/views/agents/whatsapp_group/instructions.md.erb
Due: none

Add WhatsApp user metadata import system
  app/helpers/agent_helper.rb
  app/jobs/import_whatsapp_group_memberships_job.rb
  app/jobs/import_whatsapp_group_metadata_job.rb
  app/jobs/import_whatsapp_user_metadata_job.rb
  app/jobs/reconcile_whatsapp_user_metadata_job.rb
  app/models/whatsapp_group.rb
  app/models/whatsapp_user.rb
  config/recurring.yml
  db/migrate/20260211180156_add_profile_picture_url_to_whatsapp_users.rb
  db/migrate/20260211180158_add_metadata_imported_at_to_whatsapp_users.rb
  db/schema.rb
  lib/wa_sender_api.rb
  sorbet/rbi/dsl/import_whatsapp_user_metadata_job.rbi
  sorbet/rbi/dsl/reconcile_whatsapp_user_metadata_job.rbi
  sorbet/rbi/dsl/whatsapp_user.rbi
  test/fixtures/whatsapp_users.yml
  test/models/whatsapp_user_test.rb
Due: prettier, srb, rubocop

Add send_message_history_link tool to introduce_yourself action
  app/agents/application_agent.rb
  app/agents/whatsapp_group_agent.rb
  app/agents/whatsapp_group_agent/send_message_history_link_tool.rb
  app/agents/whatsapp_group_agent/send_message_tool.rb
  app/agents/whatsapp_group_agent/send_reply_tool.rb
  app/views/agents/whatsapp_group/introduce_yourself.md.erb
Due: srb, rubocop

Fix groups.upsert webhook event handler
  app/controllers/wa_sender_api_controller.rb
Due: srb, rubocop

Add WhatsApp group agent tests
  test/agents/whatsapp_group_agent_test.rb
  test/fixtures/whatsapp_groups.yml
  test/fixtures/whatsapp_messages.yml
  test/fixtures/whatsapp_users.yml
Due: prettier, srb, rubocop

Add agent tests
  app/agents/whatsapp_group_agent.rb
  app/agents/whatsapp_group_agent/send_message_history_link_tool.rb
  app/concerns/whatsapp_messaging.rb
  app/controllers/wa_sender_api_controller.rb
  app/helpers/agent_helper.rb
  app/models/application_record.rb
  app/models/whatsapp_group.rb
  app/models/whatsapp_message.rb
  app/models/whatsapp_user.rb
  config/application.rb
  config/environments/production.rb
  lib/tagged_logging.rb
  lib/wa_sender_api.rb
  sorbet/rbi/dsl/components.rbi
  sorbet/rbi/dsl/whatsapp_group_agent/send_message_history_link_tool.rbi
  test/agents/whatsapp_group_agent_test.rb
Due: srb, rubocop

Rename from_application? to from_application_user?
  app/components/chat/messages.rb
  app/models/whatsapp_message.rb
Due: srb, rubocop

Refactor pagination button to use disable_for duration
  app/components/chat.rb
  app/components/pagination_button.rb
  app/controllers/whatsapp_messages_controller.rb
  app/javascript/controllers/click_controller.ts
  app/javascript/controllers/disabled_controller.ts
  app/javascript/controllers/index.ts
  app/javascript/controllers/intersection_controller.ts
Due: prettier, eslint, tsc, srb, rubocop

Add WhatsApp agent tests and WhatsappMessaging concern
  app/agents/whatsapp_group_agent.rb
  app/agents/whatsapp_group_agent/send_message_history_link_tool.rb
  app/concerns/whatsapp_messaging.rb
  app/controllers/wa_sender_api_controller.rb
  app/helpers/agent_helper.rb
  app/models/application_record.rb
  app/models/whatsapp_group.rb
  app/models/whatsapp_message.rb
  app/models/whatsapp_user.rb
  config/application.rb
  config/environments/production.rb
  lib/tagged_logging.rb
  lib/wa_sender_api.rb
  sorbet/rbi/dsl/whatsapp_group_agent/send_message_history_link_tool.rbi
  test/agents/whatsapp_group_agent_test.rb
  test/fixtures/whatsapp_groups.yml
  test/fixtures/whatsapp_messages.yml
  test/fixtures/whatsapp_users.yml
Due: prettier, srb, rubocop

Rename application_jid to application_user_jid
  app/helpers/agent_helper.rb
  app/models/application_record.rb
  app/models/whatsapp_message.rb
  app/models/whatsapp_user.rb
Due: srb, rubocop

Fix CI
  config/credentials/test.yml.enc
Due: none

Fix AI tool calls
  app/agents/whatsapp_group_agent.rb
  app/agents/whatsapp_group_agent/send_message_history_link_tool.rb
  app/agents/whatsapp_group_agent/send_reply_tool.rb
  sorbet/rbi/dsl/whatsapp_group_agent/send_message_history_link_tool.rbi
  test/fixtures/whatsapp_groups.yml
  test/fixtures/whatsapp_messages.yml
  test/fixtures/whatsapp_users.yml
Due: prettier, srb, rubocop

Auto-import user metadata
  app/models/whatsapp_user.rb
Due: srb, rubocop

Only send intro after group metadata is loaded
  app/models/whatsapp_group.rb
Due: srb, rubocop

Don't log forward webhook message failure if 502
  app/jobs/forward_webhook_message_to_dev_server_job.rb
Due: srb, rubocop

Add RAILS_MASTER_KEY secret to CI workflow
  .github/workflows/ci.yml
Due: prettier

Respect account protection wait time
  lib/wa_sender_api.rb
Due: srb, rubocop

Attempt to enforce tool calls with with 'YOU MUST [...]'
  app/views/agents/whatsapp_group/introduce_yourself.md.erb
  app/views/agents/whatsapp_group/reply.md.erb
Due: none

Add user/group associations and support LID mentions
  app/agents/whatsapp_group_agent.rb
  app/agents/whatsapp_group_agent/send_message_tool.rb
  app/helpers/agent_helper.rb
  app/models/whatsapp_group.rb
  app/models/whatsapp_user.rb
  sorbet/rbi/dsl/application_controller.rbi
  sorbet/rbi/dsl/components.rbi
  sorbet/rbi/dsl/mission_control/jobs/application_controller.rbi
  sorbet/rbi/dsl/mission_control/jobs/jobs_controller.rbi
  sorbet/rbi/dsl/rails/conductor/base_controller.rbi
  sorbet/rbi/dsl/whatsapp_group.rbi
  sorbet/rbi/dsl/whatsapp_user.rbi
Due: srb, rubocop

Change model; set temperature to 0
  app/agents/application_agent.rb
  app/agents/whatsapp_group_agent.rb
  app/agents/whatsapp_group_agent/send_message_history_link_tool.rb
  app/agents/whatsapp_group_agent/send_message_tool.rb
  app/agents/whatsapp_group_agent/send_reply_tool.rb
  config/active_agent.yml
  test/agents/whatsapp_group_agent_test.rb
  test/fixtures/whatsapp_messages.yml
Due: prettier, srb, rubocop

Refactor agent prompts with structured architecture
  app/views/admin/dashboard/show.rb
  app/views/agents/whatsapp_group/instructions.md.erb
  app/views/agents/whatsapp_group/introduce_yourself.md.erb
  app/views/agents/whatsapp_group/reply.md.erb
Due: srb, rubocop

Prompt nits
  app/models/whatsapp_group.rb
  app/views/agents/whatsapp_group/_whatsapp_message.md.erb
  app/views/agents/whatsapp_group/instructions.md.erb
Due: srb, rubocop

Add example response to WhatsApp group agent instructions
  app/views/agents/whatsapp_group/instructions.md.erb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
Due: srb, rubocop

Add recent groups to admin interface
  app/models/whatsapp_group.rb
  app/views/admin/dashboard/show.rb
  sorbet/rbi/dsl/whatsapp_group.rbi
Due: srb, rubocop

Add rich mentions rendering and click-to-copy message IDs
  app/components/chat/messages.rb
Due: srb, rubocop

Add clipboard Stimulus controller
  app/javascript/controllers/clipboard_controller.ts
  app/javascript/controllers/index.ts
  bun.lock
  package.json
Due: prettier, eslint, tsc

Add AfterParty for deployment tasks and fix mention body corruption
  Gemfile
  Gemfile.lock
  app/helpers/agent_helper.rb
  app/jobs/truncate_webhook_messages_job.rb
  bin/boot-docker
  bin/postgres
  bin/prepare-deployment
  config/initializers/after_party.rb
  db/migrate/20260212061130_create_task_records.rb
  db/schema.rb
  fly.toml
  lib/tasks/.rubocop.yml
  lib/tasks/annotate_rb.rake
  lib/tasks/deployment/20260212061647_fix_corrupted_mention_bodies.rake
  sorbet/rbi/dsl/after_party/task_record.rbi
  sorbet/rbi/gems/after_party@2.1.0.rbi
Due: prettier, srb, rubocop

Auto-link messages, add profile pics to chat UI; stricter mentions formatting
  Gemfile
  Gemfile.lock
  app/agents/whatsapp_group_agent/send_reply_tool.rb
  app/assets/stylesheets/chats.css
  app/components/chat/messages.rb
  app/concerns/whatsapp_messaging.rb
  app/helpers/agent_helper.rb
  app/models/whatsapp_message.rb
  app/models/whatsapp_user.rb
  config/application.rb
  public/robots.txt
  sorbet/rbi/gems/rails_autolink@1.1.8.rbi
  sorbet/rbi/shims/application.rbi
  sorbet/tapioca/config.yml
Due: prettier, srb, rubocop

Block AI crawlers in robots.txt
  public/robots.txt
Due: none

Update dependencies: phlex-icons and rails_autolink
  Gemfile
  Gemfile.lock
  sorbet/tapioca/config.yml
Due: prettier

Refactor WhatsApp mention system and auto-link URLs
  app/agents/whatsapp_group_agent/send_reply_tool.rb
  app/components/chat/messages.rb
  app/concerns/whatsapp_messaging.rb
  app/helpers/agent_helper.rb
  app/models/whatsapp_message.rb
  app/models/whatsapp_user.rb
  config/application.rb
  sorbet/rbi/shims/application.rbi
Due: srb, rubocop

Add profile picture avatars to chat UI
  app/assets/stylesheets/chats.css
  app/components/chat/messages.rb
Due: prettier, srb, rubocop

Configure VS Code for Ruby LSP
  .vscode/settings.json
Due: prettier

Update dependencies
  Gemfile.lock
  sorbet/rbi/gems/bootsnap@1.22.0.rbi
  sorbet/rbi/gems/rails_autolink@1.1.8.rbi
  sorbet/rbi/gems/rdoc@7.2.0.rbi
  sorbet/rbi/gems/rubocop@1.84.2.rbi
  sorbet/rbi/gems/thruster@0.1.18.rbi
  sorbet/rbi/gems/turbo-rails@2.0.23.rbi
Due: srb, rubocop

Suppress 'Great job' Sorbet typechecker message [skip ci]
  hk.pkl
Due: none

Fix HAPPYTOWN-G (key not found: jid)
  app/controllers/wa_sender_api_controller.rb
Due: srb, rubocop
