Repository smaller-world/happytown.life: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, tsc, srb, rubocop, herb-lint, herb-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      run: bunx prettier --write {staged_files}
      glob: "*.{ts,tsx,js,jsx,css,yml,yaml,json,md,html}"
      stage_fixed: true

    eslint:
      run: >-
        bunx eslint --report-unused-disable-directives --no-warn-ignored --fix
        --cache "{staged_files}"
      glob: "*.{ts,tsx,js,jsx}"
      stage_fixed: true

    tsc:
      run: bunx tsc --noEmit
      glob: "*.{ts,tsx}"

    srb:
      run: bundle exec srb tc
      glob: "*.{rb,rbi}"

    rubocop:
      run:
        bin/rubocop --force-exclusion --cache=true --autocorrect {staged_files}
      glob: "*.{rb,rbi}"
      stage_fixed: true

    herb-lint:
      run: bunx herb-lint --fix {staged_files}
      glob: "*.{html.erb}"
      stage_fixed: true

    herb-format:
      run: bunx herb-format {staged_files}
      glob: "*.{html.erb}"
      stage_fixed: true

Encourage correct output; send pin-message instrunctions video
  app/agents/application_agent.rb
  app/agents/whatsapp_group_agent.rb
  app/agents/whatsapp_group_agent/send_message_history_link_tool.rb
  app/agents/whatsapp_group_agent/send_message_tool.rb
  app/agents/whatsapp_group_agent/send_reply_tool.rb
  app/assets/videos/pin_message_instructions.mp4
  app/controllers/wa_sender_api_controller.rb
  app/jobs/forward_webhook_message_to_dev_server_job.rb
  app/jobs/import_whatsapp_group_memberships_job.rb
  app/jobs/import_whatsapp_group_metadata_job.rb
  app/jobs/import_whatsapp_user_metadata_job.rb
  app/jobs/send_whatsapp_group_intro_job.rb
  app/jobs/send_whatsapp_group_message_job.rb
  app/jobs/send_whatsapp_group_reply_job.rb
  app/jobs/truncate_webhook_messages_job.rb
  app/models/whatsapp_group.rb
  app/models/whatsapp_message.rb
  app/views/agents/whatsapp_group/introduce_yourself.md.erb
  app/views/agents/whatsapp_group/reply.md.erb
  config/active_agent.yml
  lib/wa_sender_api.rb
  test/agents/whatsapp_group_agent_test.rb
  test/fixtures/whatsapp_messages.yml
  write=0.009
Due: prettier, srb, rubocop

Warn on bad agent outputs
  app/agents/whatsapp_group_agent.rb
Due: srb, rubocop

Fix stubs
  app/agents/whatsapp_group_agent/send_message_history_link_tool.rb
  app/agents/whatsapp_group_agent/send_message_tool.rb
  app/agents/whatsapp_group_agent/send_reply_tool.rb
  test/agents/whatsapp_group_agent_test.rb
Due: srb, rubocop

Syntax error
  app/jobs/forward_webhook_message_to_dev_server_job.rb
Due: srb, rubocop

Don’t normalize phone number in WaSenderApi
  lib/wa_sender_api.rb
Due: srb, rubocop

Refactor agent test to reply on agent reported output
  test/agents/whatsapp_group_agent_test.rb
Due: srb, rubocop

Guard profile picture fetch when phone number is unavailable
  app/models/whatsapp_user.rb
  lib/wa_sender_api.rb
Due: srb, rubocop

Fix sending pin message instructions video
  app/agents/application_agent.rb
  app/agents/whatsapp_group_agent/send_message_history_link_tool.rb
  app/models/whatsapp_group.rb
  app/views/agents/whatsapp_group/reply.md.erb
Due: srb, rubocop

Add logs to WaSenderApi
  app/agents/whatsapp_group_agent/send_reply_tool.rb
  lib/wa_sender_api.rb
Due: srb, rubocop

Show verbose test logs in CI
  .github/workflows/ci.yml
Due: prettier

Add 'load_previous_messages_tool' to agent
  app/agents/whatsapp_group_agent.rb
  app/agents/whatsapp_group_agent/load_previous_messages_tool.rb
  app/views/agents/whatsapp_group/_message.md.erb
  app/views/agents/whatsapp_group/reply.md.erb
Due: srb, rubocop

Show quoted messages in chat UI
  app/assets/stylesheets/chats.css
  app/channels/application_cable/connection.rb
  app/components/base.rb
  app/components/chat.rb
  app/components/chat/messages.rb
  app/components/chat/messages/item.rb
  app/components/layout.rb
  app/controllers/application_controller.rb
  app/javascript/initializers/turbo.ts
  app/models/whatsapp_message.rb
  app/views/whatsapp_groups/message_history.rb
Due: prettier, eslint, tsc, srb, rubocop

Add jemalloc MALLOC_CONF settings to reduce memory fragmentation
  Dockerfile
Due: none

Fix word break on chat UI
  app/components/chat/messages/item.rb
Due: srb, rubocop

More descriptive deploy run name
  .github/workflows/deploy.yml
Due: prettier

Slighty longer grace period
  fly.toml
Due: none

Split job into own process
  fly.toml
Due: none

Add devtool shortcuts
  config/routes.rb
Due: srb, rubocop

Reduce app process to 512mb
  fly.toml
Due: none

Fix recurring job schedules by moving timezone to end of expression
  config/recurring.yml
  write=0.009
Due: prettier

Add CNN to featured in section
  app/assets/images/landing/cnn.svg
  app/views/pages/landing.rb
Due: srb, rubocop

Refactor landing page
  app/assets/stylesheets/landing.css
  app/views/pages/landing.rb
Due: prettier, srb, rubocop

Refactor landing page CSS to use data-variant attributes
  app/assets/stylesheets/landing.css
  app/views/pages/landing.rb
Due: prettier, srb, rubocop

Add agent documentation index and WhatsApp agent guide
  AGENTS.md
  docs/whatsapp_agent.md
Due: prettier

Refactor landing page CSS list item selectors
  app/assets/stylesheets/landing.css
Due: prettier

Remove redundant .gemini/skills directory
  .gemini/skills/import-shadcn-component
  .gemini/skills/rails-active-record-patterns
  .gemini/skills/rails-hotwire
Due: none

Add Qwen Code skills for Rails development
  .qwen/skills/import-shadcn-component
  .qwen/skills/rails-active-record-patterns
  .qwen/skills/rails-hotwire
Due: none

Configure pagy to client max 50 items
  config/initializers/pagy.rb
Due: srb, rubocop

Update MCP server configurations
  .agents/.gitignore
  .gemini/settings.json
  .mcp.json
  .qwen/settings.json
  opencode.json
Due: prettier

Refactor WhatsApp agent message loading and add search
  Gemfile
  Gemfile.lock
  app/agents/application_agent.rb
  app/agents/whatsapp_group_agent.rb
  app/agents/whatsapp_group_agent/load_previous_messages_tool.rb
  app/agents/whatsapp_group_agent/message_loading_tools.rb
  app/agents/whatsapp_group_agent/send_message_history_link_tool.rb
  app/agents/whatsapp_group_agent/send_reply_tool.rb
  app/models/whatsapp_message.rb
  app/views/agents/whatsapp_group/introduce_yourself.md.erb
  app/views/agents/whatsapp_group/reply.md.erb
  config/initializers/pg_search.rb
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/dsl/whatsapp_message.rbi
  sorbet/rbi/gems/minitest-mock@5.27.0.rbi
  sorbet/rbi/shims/phonelib.rbi
  sorbet/tapioca/compilers/friendly_id.rb
  sorbet/tapioca/compilers/pg_search.rb
  test/agents/whatsapp_group_agent_test.rb
  test/fixtures/whatsapp_messages.yml
Due: prettier, srb, rubocop

Configure Codex, prompt engineering nits
  .codex/config.toml
  README.md
  app/agents/whatsapp_group_agent/send_message_history_link_tool.rb
  app/agents/whatsapp_group_agent/send_message_tool.rb
  app/agents/whatsapp_group_agent/send_reply_tool.rb
  app/views/agents/whatsapp_group/reply.md.erb
Due: prettier, srb, rubocop

Handle additional WASenderAPI errors (Forbidden, RequestTimeout)
  app/jobs/import_whatsapp_group_memberships_job.rb
  app/jobs/import_whatsapp_group_metadata_job.rb
  lib/wa_sender_api.rb
Due: srb, rubocop

Fix WhatsApp group membership import error (fixes HAPPYTOWN-K)
  app/models/whatsapp_group.rb
  app/models/whatsapp_group_membership.rb
Due: srb, rubocop

Attempt to use gpt-5-nano in production, but tests fail
  Gemfile
  app/agents/application_agent.rb
  app/agents/whatsapp_group_agent.rb
  app/agents/whatsapp_group_agent/message_loading_tools.rb
  config/active_agent.yml
  config/application.rb
  config/credentials.yml.enc
  config/credentials/production.yml.enc
  config/credentials/test.yml.enc
Due: prettier, srb, rubocop

Tools now generate JSON responses
  app/agents/whatsapp_group_agent/message_loading_tools.rb
  app/agents/whatsapp_group_agent/send_message_history_link_tool.rb
  app/agents/whatsapp_group_agent/send_message_tool.rb
  app/agents/whatsapp_group_agent/send_reply_tool.rb
Due: srb, rubocop

Enable Solid Queue in development
  config/environments/development.rb
  config/puma.rb
Due: srb, rubocop

Refine chat message layout and WhatsApp group scope
  .gemini/settings.json
  app/assets/stylesheets/chats.css
  app/components/chat/messages/item.rb
  app/models/whatsapp_group.rb
  app/views/admin/dashboard/show.rb
  app/views/agents/whatsapp_group/instructions.md.erb
  sorbet/rbi/dsl/whatsapp_group.rbi
Due: prettier, srb, rubocop

Add tsearch index for WhatsApp message body
  app/models/whatsapp_message.rb
  db/migrate/20260220204611_add_whatsapp_messages_body_tsearch_index.rb
  db/schema.rb
  test/fixtures/whatsapp_messages.yml
  test/models/whatsapp_message_test.rb
Due: prettier, srb, rubocop

Add rubocop-minitest gem for minitest-specific linting
  .rubocop.yml
  Gemfile
  Gemfile.lock
  sorbet/tapioca/config.yml
Due: prettier

Add full-text search to WhatsApp groups
  app/models/whatsapp_group.rb
  sorbet/rbi/dsl/whatsapp_group.rbi
Due: srb, rubocop
