Repository smaller-world/happytown.life: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, tsc, srb, rubocop, herb-lint, herb-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      run: bunx prettier --write {staged_files}
      glob: "*.{ts,tsx,js,jsx,css,yml,yaml,json,md,html}"
      stage_fixed: true

    eslint:
      run: >-
        bunx eslint --report-unused-disable-directives --no-warn-ignored --fix
        --cache "{staged_files}"
      glob: "*.{ts,tsx,js,jsx}"
      stage_fixed: true

    tsc:
      run: bunx tsc --noEmit
      glob: "*.{ts,tsx}"

    srb:
      run: bundle exec srb tc
      glob: "*.{rb,rbi}"

    rubocop:
      run:
        bin/rubocop --force-exclusion --cache=true --autocorrect {staged_files}
      glob: "*.{rb,rbi}"
      stage_fixed: true

    herb-lint:
      run: bunx herb-lint --fix {staged_files}
      glob: "*.{html.erb}"
      stage_fixed: true

    herb-format:
      run: bunx herb-format {staged_files}
      glob: "*.{html.erb}"
      stage_fixed: true

Update RBI files for gems
  sorbet/rbi/gems/bootsnap@1.23.0.rbi
  sorbet/rbi/gems/openai@0.49.0.rbi
  sorbet/rbi/gems/sentry-rails@6.3.1.rbi
  sorbet/rbi/gems/sentry-ruby@6.3.1.rbi
Due: srb, rubocop

Add WhatsApp group tsearch index
  app/models/whatsapp_group.rb
  db/migrate/20260220213000_add_whatsapp_groups_subject_description_tsearch_index.rb
  db/schema.rb
  test/agents/whatsapp_group_agent_test.rb
  test/fixtures/whatsapp_groups.yml
  test/models/user_test.rb
Due: prettier, srb, rubocop

Add search scope index tests
  test/models/whatsapp_group_test.rb
  test/models/whatsapp_message_test.rb
  test/models/whatsapp_user_test.rb
Due: srb, rubocop

Fix MCP
  .claude/settings.json
  .gemini/settings.json
  .qwen/settings.json
Due: prettier

Landing refactor
  app/assets/stylesheets/landing.css
  app/views/pages/landing.rb
Due: prettier, srb, rubocop

Escape input quotes in bin/fly-eval
  bin/fly-eval
Due: none

Parse and report API failure messages
  lib/wa_sender_api.rb
Due: srb, rubocop

Refine chat message layout and fix quoted message sender label
  app/assets/stylesheets/chats.css
  app/components/chat/messages/item.rb
Due: prettier, srb, rubocop

Fix CI
  test/controllers/passwords_controller_test.rb
  test/controllers/sessions_controller_test.rb
Due: srb, rubocop

Recurring jobs in dev; sort WhatsappGroup.by_recent_activity NULLS LAST
  app/models/whatsapp_group.rb
  config/recurring.yml
Due: prettier, srb, rubocop

Improve dev postgres startup with docker-running check and await script
  .mcp.json
  Procfile.dev
  bin/docker-running
  bin/postgres
  bin/postgres-await
Due: prettier

Update AGENTS.md and docs
  AGENTS.md
  CLAUDE.md
  bin/attach
  bin/rubocop
  bin/setup
  bin/thrust
  docs/whatsapp_group_agent.md
  mise.toml
Due: prettier

Fix CI: retry rate-limited API tests and update Brakeman
  Gemfile
  Gemfile.lock
  test/agents/whatsapp_group_agent_test.rb
  test/test_helper.rb
Due: srb, rubocop

Dockerfile nits
  Dockerfile
Due: none

Added landing page context
  docs/whatsapp_group_agent/landing_page.md
Due: prettier

Auto-run tapioca dsl after db migrations in development
  lib/tasks/tapioca.rake
Due: none

Add configure_message_history tool and message history settings
  app/agents/application_agent.rb
  app/agents/whatsapp_group_agent.rb
  app/agents/whatsapp_group_agent/configure_message_history_tool.rb
  app/agents/whatsapp_group_agent/send_message_history_link_tool.rb
  app/helpers/whatsapp_group_agent_helper.rb
  app/models/whatsapp_group.rb
  app/views/agents/whatsapp_group/instructions.md.erb
  app/views/agents/whatsapp_group/introduce_yourself.md.erb
  app/views/agents/whatsapp_group/reply.md.erb
  db/migrate/20260227204028_add_message_history_settings_to_whatsapp_groups.rb
  db/schema.rb
  docs/whatsapp_group_agent.md
  sorbet/rbi/dsl/application_controller.rbi
  sorbet/rbi/dsl/mission_control/jobs/application_controller.rbi
  sorbet/rbi/dsl/mission_control/jobs/jobs_controller.rbi
  sorbet/rbi/dsl/rails/conductor/base_controller.rbi
  sorbet/rbi/dsl/whatsapp_group.rbi
  test/agents/whatsapp_group_agent_test.rb
  test/fixtures/whatsapp_groups.yml
  test/models/whatsapp_group_test.rb
Due: prettier, srb, rubocop

Clarify bot response behavior in introduction prompt
  app/views/agents/whatsapp_group/introduce_yourself.md.erb
Due: none

Add cloudflare-rails gem for production
  Gemfile
  Gemfile.lock
Due: none

Plan to migration to RubyLLM::Agents [skip ci]
  app/agents/whatsapp_group_agent/message_loading_tools.rb
  docs/active_agents_vs_ruby_llm.md
  docs/ruby_llm_migration_plan.md
Due: prettier, srb, rubocop

Fix ActiveAgent chat payload compatibility
  Gemfile.lock
  app/agents/whatsapp_group_agent.rb
  config/initializers/active_agent.rb
  lib/extensions/active_agent/reasoning_sanitization.rb
  sorbet/rbi/gems/nokogiri@1.19.1.rbi
  sorbet/rbi/gems/rack@3.2.5.rbi
  test/lib/active_agent_reasoning_sanitization_test.rb
Due: srb, rubocop

Always route events to calendar
  app/views/pages/landing.rb
Due: srb, rubocop

Configure mise postinstall hooks and refactor setup workflow
  .vscode/settings.json
  README.md
  bin/setup
  fly.toml
  mise.toml
Due: prettier

Fix CI
  Gemfile.lock
  sorbet/rbi/gems/action_text-trix@2.1.17.rbi
  sorbet/rbi/gems/erb@6.0.2.rbi
  sorbet/rbi/gems/json@2.19.2.rbi
  sorbet/rbi/gems/loofah@2.25.1.rbi
  sorbet/rbi/gems/minitest@6.0.2.rbi
  sorbet/rbi/gems/rails-html-sanitizer@1.7.0.rbi
  sorbet/rbi/gems/zeitwerk@2.7.5.rbi
Due: srb, rubocop

Add flag support to test and test:system tasks
  mise.toml
Due: none

Configure ActiveStorage with Cloudflare R2
  .prettierignore
  AGENTS.md
  Gemfile
  Gemfile.lock
  config/credentials.yml.enc
  config/environments/production.rb
  config/storage.yml
  sorbet/rbi/gems/aws-eventstream@1.4.0.rbi
  sorbet/rbi/gems/aws-partitions@1.1229.0.rbi
  sorbet/rbi/gems/aws-sdk-core@3.244.0.rbi
  sorbet/rbi/gems/aws-sdk-kms@1.123.0.rbi
  sorbet/rbi/gems/aws-sdk-s3@1.217.0.rbi
  sorbet/rbi/gems/aws-sigv4@1.12.1.rbi
  sorbet/rbi/gems/jmespath@1.6.2.rbi
Due: prettier, srb, rubocop

Add Luma API client and Event model
  Gemfile
  Gemfile.lock
  app/models/event.rb
  app/views/pages/landing.rb
  config/application.rb
  config/credentials.yml.enc
  config/credentials/production.yml.enc
  config/database.yml
  db/migrate/20260323155302_enable_postgis.rb
  db/migrate/20260323160515_create_events.rb
  db/schema.rb
  lib/luma.rb
  sorbet/rbi/dsl/event.rbi
  sorbet/rbi/gems/activerecord-postgis-adapter@11.1.1.rbi
  sorbet/rbi/gems/rgeo-activerecord@8.1.0.rbi
  sorbet/rbi/gems/rgeo@3.1.0.rbi
  sorbet/rbi/shims/activerecord.rbi
Due: prettier, srb, rubocop

Refactor WaSenderApi HTTP helpers
  lib/wa_sender_api.rb
Due: srb, rubocop

Use supabase postgres in CI
  .github/workflows/ci.yml
Due: prettier

Fix event timezone handling and refactor landing page gatherings
  app/models/event.rb
  app/views/pages/landing.rb
Due: srb, rubocop

Update AI commit attribution instructions
  AGENTS.md
Due: prettier

Ignore .cursor/hooks/ directory
  .gitignore
Due: none

Add recurring Luma event import
  app/jobs/import_luma_events_job.rb
  config/recurring.yml
  lib/tasks/deployment/20260324134430_import_luma_events.rake
Due: prettier, srb, rubocop

Always show events; redirect to calendar if no next event found
  app/controllers/events_controller.rb
  app/models/event.rb
  app/views/pages/landing.rb
  config/routes.rb
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/dsl/import_luma_events_job.rbi
Due: srb, rubocop

Ignore Brakeman false positive
  config/brakeman.ignore
Due: none

Fix bin/setup leaving postgres running after exit
  README.md
  bin/setup
Due: prettier

Replace httparty with http.rb
  Gemfile
  Gemfile.lock
  app/jobs/forward_webhook_message_to_dev_server_job.rb
  lib/luma.rb
  lib/wa_sender_api.rb
  sorbet/rbi/gems/csv@3.3.5.rbi
  sorbet/rbi/gems/domain_name@0.6.20240107.rbi
  sorbet/rbi/gems/http-cookie@1.1.4.rbi
  sorbet/rbi/gems/http@6.0.2.rbi
  sorbet/rbi/gems/httparty@0.24.2.rbi
  sorbet/rbi/gems/llhttp@0.6.1.rbi
  sorbet/rbi/gems/multi_xml@0.8.1.rbi
  sorbet/rbi/shims/http.rbi
Due: srb, rubocop

Namespace custom app configuration
  app/components/header.rb
  app/concerns/whatsapp_messaging.rb
  app/controllers/wa_sender_api_controller.rb
  app/models/event.rb
  app/views/pages/landing.rb
  config/application.rb
  lib/tagged_logging.rb
  sorbet/rbi/shims/railties.rbi
Due: srb, rubocop

Prepare for spring-a-ling Tally-to-Notion import system development
  .opencode/package-lock.json
  .prettierignore
  .qwen/settings.json
  app/jobs/import_luma_events_job.rb
  app/jobs/springaling/import_tally_submissions_job.rb
  config/application.rb
  config/credentials.yml.enc
  docs/research/notion_api.md
  docs/research/tally_api.md
  docs/research/tally_webhook.md
  docs/superpowers/plans/2026-04-11-springaling-tally-to-notion-import.md
  docs/superpowers/specs/2026-04-11-springaling-tally-to-notion-import-design.md
  lib/open_router.rb
  lib/springaling.rb
  lib/tally.rb
Due: prettier, srb, rubocop
