Repository smaller-world/happytown.life: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, tsc, srb, rubocop, herb-lint, herb-format

prettier:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

eslint:
  run: bunx eslint --report-unused-disable-directives --no-warn-ignored --fix --cache "{staged_files}"
  stage_fixed: true

tsc:
  run: bunx tsc --noEmit

srb:
  run: bundle exec srb tc

rubocop:
  run: bin/rubocop --force-exclusion --cache=true --autocorrect {staged_files}
  stage_fixed: true

herb-lint:
  run: bunx herb-lint --fix {staged_files}
  stage_fixed: true

herb-format:
  run: bunx herb-format {staged_files}
  stage_fixed: true

Configure Solid Queue
  fly.toml
Due: none

Configure for single DB in production
  config/cable.yml
  config/cache.yml
  config/database.yml
  config/environments/production.rb
  db/migrate/20260207233405_install_solid_queue.rb
  db/migrate/20260207233418_install_solid_cache.rb
  db/schema.rb
  fly.toml
Due: prettier, srb, rubocop

Workaround because can't get Solid Queue to work :<
  Gemfile
  Gemfile.lock
  app/models/whatsapp_group.rb
Due: srb, rubocop

Configure mission control
  config/credentials/production.yml.enc
  config/environments/development.rb
  config/initializers/solid_queue.rb
  config/routes.rb
  sorbet/rbi/annotations/rails.rbi
  sorbet/rbi/dsl/active_job/querying.rbi
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/dsl/mission_control/jobs/application_controller.rbi
  sorbet/rbi/dsl/mission_control/jobs/current.rbi
  sorbet/rbi/dsl/mission_control/jobs/jobs_controller.rbi
  sorbet/rbi/dsl/rails/conductor/base_controller.rbi
  sorbet/rbi/dsl/send_message_whatsapp_group_job.rbi
  sorbet/rbi/dsl/send_whatsapp_message_job.rbi
  sorbet/rbi/dsl/solid_cache/entry.rbi
  sorbet/rbi/dsl/solid_queue/blocked_execution.rbi
  sorbet/rbi/dsl/solid_queue/claimed_execution.rbi
  sorbet/rbi/dsl/solid_queue/failed_execution.rbi
  sorbet/rbi/dsl/solid_queue/job.rbi
  sorbet/rbi/dsl/solid_queue/pause.rbi
  sorbet/rbi/dsl/solid_queue/process.rbi
  sorbet/rbi/dsl/solid_queue/ready_execution.rbi
  sorbet/rbi/dsl/solid_queue/recurring_execution.rbi
  sorbet/rbi/dsl/solid_queue/recurring_task.rbi
  sorbet/rbi/dsl/solid_queue/scheduled_execution.rbi
  sorbet/rbi/dsl/solid_queue/semaphore.rbi
  sorbet/rbi/dsl/whatsapp_group_send_message_job.rbi
  sorbet/rbi/gems/importmap-rails@2.2.3.rbi
  sorbet/rbi/gems/mission_control-jobs@1.1.0.rbi
Due: srb, rubocop

Fix Phlex security issue
  Gemfile.lock
  app/controllers/pages_controller.rb
  app/controllers/public_controller.rb
  config/initializers/solid_queue.rb
Due: srb, rubocop

Fix send message with WASenderAPI
  app/models/application_record.rb
  app/models/whatsapp_group.rb
  config/application.rb
  config/credentials.yml.enc
  db/schema.rb
  lib/wasenderapi.rb
  mise.toml
  sorbet/rbi/dsl/session.rbi
  sorbet/rbi/dsl/user.rbi
  sorbet/rbi/dsl/whatsapp_group.rbi
Due: srb, rubocop

Autoload lib (except extensions)
  config/application.rb
  config/initializers/pg_search.rb
  lib/extensions/pg_search/track_scope_names.rb
  lib/extensions/pg_search/websearch.rb
  lib/pg_search_ext.rb
  mise.toml
  sorbet/tapioca/compilers/pg_search.rb
Due: srb, rubocop

Improve mention prompt
  app/controllers/wa_sender_api_controller.rb
  app/models/whatsapp_group.rb
Due: srb, rubocop

Respond to mentions with pony-alpha
  Gemfile
  Gemfile.lock
  app/controllers/wa_sender_api_controller.rb
  app/controllers/wasenderapi_controller.rb
  app/models/whatsapp_group.rb
  config/application.rb
  config/credentials.yml.enc
  config/credentials/production.yml.enc
  config/environments/development.rb
  config/routes.rb
  lib/open_router.rb
  lib/wa_sender_api.rb
  sorbet/rbi/annotations/railties-shim.rbi
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/gems/cgi@0.5.1.rbi
  sorbet/rbi/gems/json@2.18.1.rbi
  sorbet/rbi/gems/openai@0.45.0.rbi
  sorbet/rbi/gems/phlex@2.4.1.rbi
Due: srb, rubocop

Reply to replies in addition to mentions
  app/controllers/wa_sender_api_controller.rb
Due: srb, rubocop

Import WhatsApp group metadata
  .mcp.json
  app/components/layout.rb
  app/jobs/import_whatsapp_group_metadata_job.rb
  app/jobs/reconcile_whatsapp_group_metadata_job.rb
  app/models/whatsapp_group.rb
  app/views/layouts/mission_control/jobs/_application_selection.html.erb
  app/views/layouts/mission_control/jobs/application.html.erb
  config/recurring.yml
  db/migrate/20260208181358_add_metadata_imported_at_to_whatsapp_groups.rb
  db/migrate/20260208181610_backfill_whatsapp_groups_metadata.rb
  db/schema.rb
  lib/wa_sender_api.rb
  sorbet/rbi/dsl/import_whatsapp_group_metadata_job.rbi
  sorbet/rbi/dsl/reconcile_whatsapp_group_metadata_job.rbi
  sorbet/rbi/dsl/whatsapp_group.rbi
  test/fixtures/whatsapp_groups.yml
  test/models/user_test.rb
  test/models/whatsapp_group_test.rb
Due: prettier, srb, rubocop

Also import Whatsapp Group profile pictures
  app/models/whatsapp_group.rb
  db/migrate/20260208181610_backfill_whatsapp_groups_metadata.rb
  db/migrate/20260208184124_add_profile_picture_url_to_whatsapp_groups.rb
  db/schema.rb
  lib/wa_sender_api.rb
  sorbet/rbi/dsl/whatsapp_group.rbi
  test/fixtures/whatsapp_groups.yml
  test/models/whatsapp_group_test.rb
Due: prettier, srb, rubocop

Jitter recurring.yml times
  config/recurring.yml
Due: prettier

Fix CI test job: move DATABASE_URL to job-level env and add database name
  .github/workflows/ci.yml
Due: prettier

Fix CI
  .github/workflows/ci.yml
  test/fixtures/whatsapp_groups.yml
  test/fixtures/whatsapp_messages.yml
  test/fixtures/whatsapp_users.yml
Due: prettier

Improve prompt, fix CI
  .github/workflows/ci.yml
  app/agents/whatsapp_group_agent.rb
  app/helpers/agent_helper.rb
  app/models/whatsapp_group.rb
  app/models/whatsapp_message.rb
  app/views/agents/whatsapp_group/instructions.md.erb
  app/views/agents/whatsapp_group/reply.md.erb
  app/views/base.rb
  config/boot.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/assets.rb
  config/initializers/canonical_host.rb
  config/initializers/content_security_policy.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/inflections.rb
  config/initializers/mission_control.rb
  config/initializers/pg.rb
  config/initializers/phlex.rb
  config/puma.rb
  lib/extensions/pg_search/track_scope_names.rb
  lib/tasks/annotate_rb.rake
  sorbet/rbi/dsl/whatsapp_group.rbi
  sorbet/rbi/shims/actionpack.rbi
  sorbet/rbi/shims/activesupport.rbi
  test/.rubocop.yml
  test/controllers/passwords_controller_test.rb
  test/controllers/sessions_controller_test.rb
  test/test_helper.rb
Due: prettier, srb, rubocop

Improve prompts even more
  app/helpers/agent_helper.rb
  app/views/agents/whatsapp_group/_whatsapp_message.md.erb
  app/views/agents/whatsapp_group/reply.md.erb
Due: srb, rubocop

Fix migrations
  app/models/whatsapp_group.rb
  db/migrate/20260208184125_backfill_whatsapp_groups_metadata.rb
  lib/wa_sender_api.rb
Due: srb, rubocop

Send typing indicator when generating a message
  app/agents/whatsapp_group_agent.rb
  app/controllers/wa_sender_api_controller.rb
  app/models/whatsapp_group.rb
  app/views/agents/whatsapp_group/introduce_yourself.md.erb
  lib/wa_sender_api.rb
Due: srb, rubocop

Configure job concurrency limits
  app/jobs/import_whatsapp_group_memberships_job.rb
  app/jobs/import_whatsapp_group_metadata_job.rb
  app/jobs/reconcile_whatsapp_group_memberships_job.rb
  app/jobs/truncate_webhook_messages_job.rb
  sorbet/rbi/dsl/reconcile_whatsapp_group_metadata_job.rbi
Due: srb, rubocop

Fix group metadata import
  app/controllers/whatsapp_groups_controller.rb
  app/models/whatsapp_group.rb
  app/views/agents/whatsapp_group/instructions.md.erb
  app/views/whatsapp_groups/message_history.rb
  config/initializers/generators.rb
  config/routes.rb
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/dsl/reconcile_whatsapp_group_memberships_job.rbi
  sorbet/rbi/dsl/reconcile_whatsapp_group_metadata_job.rbi
  sorbet/rbi/dsl/whatsapp_group.rbi
  sorbet/rbi/shims/friendly_id copy.rbi
Due: srb, rubocop

Initial full message history view
  app/agents/application_agent.rb
  app/agents/whatsapp_group_agent.rb
  app/assets/images/chat_background.jpg
  app/assets/stylesheets/application.css
  app/assets/stylesheets/chats.css
  app/components/layout.rb
  app/controllers/wa_sender_api_controller.rb
  app/controllers/whatsapp_groups_controller.rb
  app/models/whatsapp_group.rb
  app/models/whatsapp_message.rb
  app/views/agents/whatsapp_group/instructions.md.erb
  app/views/agents/whatsapp_group/introduce_yourself.md.erb
  app/views/base.rb
  app/views/whatsapp_groups/message_history.rb
  config/environments/development.rb
  config/environments/production.rb
  db/migrate/20260210000319_remove_record_full_message_history_since_from_whatsapp_groups.rb
  db/schema.rb
  sorbet/rbi/dsl/whatsapp_group.rbi
  test/fixtures/whatsapp_groups.yml
  test/models/whatsapp_group_test.rb
Due: prettier, srb, rubocop

Fix handling messages.upsert event
  app/controllers/wa_sender_api_controller.rb
  app/models/whatsapp_message.rb
Due: srb, rubocop

Fix send message
  app/models/whatsapp_group.rb
Due: srb, rubocop

Run generations in background job
  app/agents/whatsapp_group_agent.rb
  app/jobs/send_whatsapp_group_intro_job.rb
  app/jobs/send_whatsapp_group_reply_job.rb
  app/models/whatsapp_group.rb
  app/models/whatsapp_message.rb
  sorbet/rbi/dsl/send_whatsapp_group_intro_job.rbi
  sorbet/rbi/dsl/send_whatsapp_group_reply_job.rbi
Due: srb, rubocop

Fix event name in WhatsappUser.from_webhook_payload
  app/models/whatsapp_user.rb
Due: srb, rubocop

Add options passthrough to SendWhatsappGroupMessageJob
  app/jobs/send_whatsapp_group_message_job.rb
  sorbet/rbi/dsl/send_whatsapp_group_message_job.rbi
Due: srb, rubocop

Fix webhook not resolving WhatsappUser for own messages
  app/models/application_record.rb
  app/models/whatsapp_message.rb
  app/models/whatsapp_user.rb
Due: srb, rubocop

Final bug I swear
  app/models/whatsapp_group.rb
Due: srb, rubocop

Fix typing indicator
  app/agents/whatsapp_group_agent.rb
Due: srb, rubocop

Fix bug
  app/agents/whatsapp_group_agent.rb
  app/controllers/wa_sender_api_controller.rb
  app/models/whatsapp_message.rb
  app/models/whatsapp_user.rb
  app/views/whatsapp_groups/message_history.rb
Due: srb, rubocop

Fix webhook: persist sender user and correct timestamp parsing
  app/controllers/wa_sender_api_controller.rb
  app/models/webhook_message.rb
  app/models/whatsapp_message.rb
  app/models/whatsapp_user.rb
Due: srb, rubocop

Fix 'reply-to'
  lib/wa_sender_api.rb
Due: srb, rubocop

Require tool usage in response to a message
  app/agents/whatsapp_group_agent.rb
  app/views/agents/whatsapp_group/reply.md.erb
Due: srb, rubocop

Handle message.sent events
  app/agents/whatsapp_group_agent.rb
  app/controllers/wa_sender_api_controller.rb
  app/models/webhook_message.rb
  app/models/whatsapp_group.rb
  app/models/whatsapp_message.rb
  app/models/whatsapp_user.rb
Due: srb, rubocop

Forward webhook messages to dev server
  app/controllers/wa_sender_api_controller.rb
  config/environments/production.rb
Due: srb, rubocop

Fix quoted_message association writing to nonexistent column
  app/models/whatsapp_message.rb
Due: srb, rubocop

Path conditions:
  prettier: any of: *.{ts,tsx,js,jsx,css,yml,yaml,json,md,html}
  eslint: any of: *.{ts,tsx,js,jsx}
  tsc: any of: *.{ts,tsx}
  srb: any of: *.{rb,rbi}
  rubocop: any of: *.{rb,rbi}
  herb-lint: any of: *.{html.erb}
  herb-format: any of: *.{html.erb}
