Repository smaller-world/happytown.life: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, tsc, srb, rubocop, herb-lint, herb-format

prettier:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

eslint:
  run: bunx eslint --report-unused-disable-directives --no-warn-ignored --fix --cache "{staged_files}"
  stage_fixed: true

tsc:
  run: bunx tsc --noEmit

srb:
  run: bundle exec srb tc

rubocop:
  run: bin/rubocop --force-exclusion --cache=true --autocorrect {staged_files}
  stage_fixed: true

herb-lint:
  run: bunx herb-lint --fix {staged_files}
  stage_fixed: true

herb-format:
  run: bunx herb-format {staged_files}
  stage_fixed: true

Add typings to Authentication module
  app/controllers/concerns/authentication.rb
  sorbet/rbi/dsl/application_controller.rbi
Due: srb, rubocop

Update page titles
  app/views/passwords/edit.rb
  app/views/passwords/new.rb
Due: srb, rubocop

Hot-reload components
  app/components/layout.rb
  config/environments/development.rb
Due: srb, rubocop

Nits
  .rubocop.yml
  app/components/field.rb
  app/components/input.rb
  app/components/layout.rb
  app/controllers/passwords_controller.rb
  app/views/sessions/new.rb
  config/application.rb
Due: prettier, srb, rubocop

Switch from Premailer to Roadie
  Gemfile
  Gemfile.lock
  app/mailers/application_mailer.rb
  sorbet/rbi/dsl/application_mailer.rbi
  sorbet/rbi/gems/roadie-rails@3.4.0.rbi
  sorbet/rbi/gems/roadie@5.2.1.rbi
Due: srb, rubocop

README
  README.md
Due: prettier

Nits
  mise.toml
Due: none

Add more tasks to Mise
  README.md
  app/assets/stylesheets/separators.css
  bin/bundler-audit
  bin/eslint
  bin/prettier
  bin/restart
  bin/run
  bin/setup
  bin/tsc
  hk.pkl
  mise.toml
  package-lock.json
  sorbet/tapioca/compilers/phlex_kit.rb
  sorbet/tapioca/config.yml
  test/controllers/passwords_controller_test.rb
Due: prettier, srb, rubocop

Keep only Hugeicons pack
  Gemfile
  Gemfile.lock
Due: none

Update README
  README.md
Due: prettier

Configure CI
  .github/workflows/ci.yml
  Gemfile.lock
  bin/setup
  bun.lock
  hk.pkl
  mise.toml
  package-lock.json
  package.json
Due: prettier

Deploy only after CI succeeds
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: prettier

Add canonical host middleware
  Gemfile
  Gemfile.lock
  app/controllers/wasenderapi_controller.rb
  app/controllers/whatsapp/webhooks_controller.rb
  app/models/whatsapp_group.rb
  config/credentials.yml.enc
  config/credentials/production.yml.enc
  config/initializers/canonical_host.rb
  config/routes.rb
  fly.toml
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/gems/rack-canonical-host@1.3.0.rbi
Due: srb, rubocop

Fix tests
  app/components/layout.rb
  test/fixtures/whatsapp_groups.yml
Due: prettier, srb, rubocop

Add slight delay to welcome message
  app/models/whatsapp_group.rb
Due: srb, rubocop

Install only production NPM packages in Dockerfile
  Dockerfile
Due: none

Fix production credentials
  config/credentials/production.yml.enc
Due: none

Fix production database config
  config/database.yml
  fly.toml
Due: prettier

Fix Fly deployment (bind on 0.0.0.0)
  .vscode/extensions.json
  .vscode/settings.json
  app/assets/stylesheets/theme.css
  config/initializers/canonical_host.rb
  config/routes.rb
  fly.toml
  mise.toml
Due: prettier, srb, rubocop

Remove this canonical host nonsense
  Gemfile
  config/initializers/canonical_host.rb
  fly.toml
Due: srb, rubocop

JK I think specifying a canonical host is cool
  .prettierignore
  Dockerfile
  Gemfile
  config/database.yml
  config/initializers/canonical_host.rb
  fly.toml
Due: prettier, srb, rubocop

Configure Fly to work with basecamp/thruster
  .dockerignore
  .rubocop.yml
  Dockerfile
  config/initializers/canonical_host.rb
  fly.toml
Due: prettier, srb, rubocop

Style nits
  app/assets/stylesheets/layouts.css
Due: prettier

Fix wasenderapi routing
  config/routes.rb
Due: srb, rubocop

Longer Fly.io healthcheck grace period
  fly.toml
Due: none

Path conditions:
  prettier: any of: *.{ts,tsx,js,jsx,css,yml,yaml,json,md,html}
  eslint: any of: *.{ts,tsx,js,jsx}
  tsc: any of: *.{ts,tsx}
  srb: any of: *.{rb,rbi}
  rubocop: any of: *.{rb,rbi}
  herb-lint: any of: *.{html.erb}
  herb-format: any of: *.{html.erb}
