Repository smaller-world/happytown.life: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, tsc, srb, rubocop, herb-lint, herb-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      run: bunx prettier --write {staged_files}
      glob: "*.{ts,tsx,js,jsx,css,yml,yaml,json,md,html}"
      stage_fixed: true

    eslint:
      run: >-
        bunx eslint --report-unused-disable-directives --no-warn-ignored --fix
        --cache "{staged_files}"
      glob: "*.{ts,tsx,js,jsx}"
      stage_fixed: true

    tsc:
      run: bunx tsc --noEmit
      glob: "*.{ts,tsx}"

    srb:
      run: bundle exec srb tc
      glob: "*.{rb,rbi}"

    rubocop:
      run:
        bin/rubocop --force-exclusion --cache=true --autocorrect {staged_files}
      glob: "*.{rb,rbi}"
      stage_fixed: true

    herb-lint:
      run: bunx herb-lint --fix {staged_files}
      glob: "*.{html.erb}"
      stage_fixed: true

    herb-format:
      run: bunx herb-format {staged_files}
      glob: "*.{html.erb}"
      stage_fixed: true

Prepare for spring-a-ling Tally-to-Notion import system development
  .opencode/package-lock.json
  .prettierignore
  .qwen/settings.json
  app/jobs/import_luma_events_job.rb
  app/jobs/springaling/import_tally_submissions_job.rb
  config/application.rb
  config/credentials.yml.enc
  docs/research/notion_api.md
  docs/research/tally_api.md
  docs/research/tally_webhook.md
  docs/superpowers/plans/2026-04-11-springaling-tally-to-notion-import.md
  docs/superpowers/specs/2026-04-11-springaling-tally-to-notion-import-design.md
  lib/open_router.rb
  lib/springaling.rb
Due: prettier, srb, rubocop

Add Tally-to-Notion import for Springaling
  app/jobs/springaling/import_tally_submissions_job.rb
  app/models/springaling.rb
  config/application.rb
  lib/notion.rb
  lib/tally.rb
Due: srb, rubocop

Refactor API service initialization and remove unused OpenRouter service
  config/application.rb
  lib/open_router.rb
Due: srb, rubocop

Remove redundant requires from autoloaded lib files
  lib/luma.rb
  lib/notion.rb
  lib/springaling.rb
  lib/tally.rb
  lib/wa_sender_api.rb
Due: srb, rubocop

Parse error structure for Notion and Tally
  .gemini/settings.json
  .qwen/settings.json
  app/models/springaling.rb
  bin/setup
  config/initializers/sentry.rb
  docs/research/notion_api.md
  docs/research/sentry_structured_error_fields.md
  docs/research/tally_api.md
  docs/superpowers/plans/2026-04-12-sentry-enrichable.md
  lib/notion.rb
  lib/tally.rb
Due: prettier, srb, rubocop

Update Tally API client to match response structure
  lib/tally.rb
Due: srb, rubocop

Update MCP server configurations
  .gemini/settings.json
  .mcp.json
  .qwen/settings.json
Due: prettier

Implement Springaling Tally-to-Notion property mapping
  Gemfile.lock
  config/application.rb
  config/credentials/production.yml.enc
  docs/superpowers/plans/2026-04-12-springaling-notion-page-properties.md
  lib/springaling.rb
Due: prettier, srb, rubocop

Skip WhatsApp group agent tests temporarily
  test/agents/whatsapp_group_agent_test.rb
Due: srb, rubocop

Fixed issues with TaggedLogging not available in test env
  lib/luma.rb
  lib/notion.rb
  lib/tagged_logging.rb
  lib/tally.rb
  lib/wa_sender_api.rb
  sorbet/rbi/shims/railties.rbi
Due: srb, rubocop

Add Solid Queue cron to import Tally submissions hourly at :17
  config/recurring.yml
Due: prettier

Extract Client classes from API modules
  app/models/whatsapp_group.rb
  app/models/whatsapp_user.rb
  config/application.rb
  lib/luma.rb
  lib/luma/client.rb
  lib/notion.rb
  lib/notion/client.rb
  lib/tally.rb
  lib/tally/client.rb
  lib/wa_sender_api.rb
  lib/wa_sender_api/client.rb
Due: srb, rubocop

Event -> LumaEvent; reimport stale Luma events
  app/controllers/luma_events_controller.rb
  app/jobs/import_luma_events_job.rb
  app/jobs/reimport_luma_event_job.rb
  app/models/luma_event.rb
  app/views/pages/landing.rb
  config/brakeman.ignore
  config/routes.rb
  db/migrate/20260416155713_rename_events_to_luma_events.rb
  db/schema.rb
  docs/research/luma_get_event_api.md
  lib/luma.rb
  lib/luma/client.rb
  lib/tasks/deployment/20260416162915_reimport_all_luma_events.rake
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/dsl/luma_event.rbi
  sorbet/rbi/dsl/reimport_luma_event_job.rbi
  sorbet/rbi/dsl/springaling/import_tally_submissions_job.rbi
Due: prettier, srb, rubocop

Sync LumaEvent to Notion on save
  app/jobs/sync_luma_event_to_notion_job.rb
  app/models/luma_event.rb
  config/application.rb
  docs/superpowers/plans/2026-04-17-luma-to-notion-sync.md
  docs/superpowers/specs/2026-04-17-luma-to-notion-sync-design.md
  sorbet/rbi/dsl/sync_luma_event_to_notion_job.rbi
Due: prettier, srb, rubocop

Add donation redirect
  config/routes.rb
Due: srb, rubocop

Auto-remove scammers
  .vscode/settings.json
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/layouts.css
  app/components/layout.rb
  app/controllers/wa_sender_api_controller.rb
  app/controllers/wsapi_controller.rb
  app/models/wsapi_message.rb
  app/models/wsapi_message_sender.rb
  bin/dev
  config/application.rb
  config/credentials.yml.enc
  config/credentials/production.yml.enc
  config/routes.rb
  lib/wsapi.rb
  lib/wsapi/client.rb
  mise.toml
  package.json
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/dsl/wsapi_message.rbi
  sorbet/rbi/dsl/wsapi_message_sender.rbi
  sorbet/rbi/gems/smart_properties@1.17.0.rbi
  sorbet/rbi/shims/enumerize.rbi
Due: prettier, srb, rubocop

Delete scammer message + fix gems
  Gemfile.lock
  app/controllers/wsapi_controller.rb
  config/routes.rb
  lib/wsapi/client.rb
Due: srb, rubocop

Slimmer Dockerfile + fix bun lock
  Dockerfile
  bun.lock
Due: none

Fix double send issue
  app/controllers/wsapi_controller.rb
Due: srb, rubocop

Temp solution to remove scam messages
  app/controllers/wsapi_controller.rb
Due: srb, rubocop

Fix community_admin?
  app/controllers/wsapi_controller.rb
  lib/wsapi/client.rb
Due: srb, rubocop

Update scam message filter
  app/controllers/wsapi_controller.rb
Due: srb, rubocop

Explain error condition when not group admin
  app/controllers/wsapi_controller.rb
Due: srb, rubocop

Fix faulty WsapiMessageSender construction in from_event_data
  app/models/wsapi_message.rb
Due: srb, rubocop

Fix remove_community_participants
  lib/wsapi/client.rb
Due: srb, rubocop

Configure Sentry on frontend
  app/components/layout.rb
  config/initializers/sentry.rb
Due: srb, rubocop

Bot can remove scammers in non-community groups
  app/controllers/wsapi_controller.rb
  lib/wsapi/client.rb
Due: srb, rubocop

Better scam filter with wordlist
  app/controllers/wsapi_controller.rb
Due: srb, rubocop

Solid queue supervisor generates PID file
  config/application.rb
Due: srb, rubocop

Bun audit update packages
  bun.lock
  package.json
Due: prettier

Change WSAPI client log level to info
  config/initializers/sentry.rb
  lib/wsapi/client.rb
Due: srb, rubocop

Remove from group instead of community (for now)
  app/controllers/wsapi_controller.rb
Due: srb, rubocop

Finally implement working 'remove participant from community'
  app/controllers/wsapi_controller.rb
  lib/wsapi/client.rb
Due: srb, rubocop

Better logging for WSAPI participant removals
  app/controllers/wsapi_controller.rb
Due: srb, rubocop

Add subscribe CTA
  app/views/pages/landing.rb
  sorbet/rbi/gems/net-imap@0.6.6.rbi
  sorbet/rbi/gems/ruby_llm@1.16.0.rbi
  sorbet/rbi/gems/uri@1.1.1.rbi
  sorbet/tapioca/require.rb
Due: srb, rubocop
