Repository smaller-world/happytown.life: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, tsc, srb, rubocop, herb-lint, herb-format

prettier:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

eslint:
  run: bunx eslint --report-unused-disable-directives --no-warn-ignored --fix --cache "{staged_files}"
  stage_fixed: true

tsc:
  run: bunx tsc --noEmit

srb:
  run: bundle exec srb tc

rubocop:
  run: bin/rubocop --force-exclusion --cache=true --autocorrect {staged_files}
  stage_fixed: true

herb-lint:
  run: bunx herb-lint --fix {staged_files}
  stage_fixed: true

herb-format:
  run: bunx herb-format {staged_files}
  stage_fixed: true

Rename message_id to whatsapp_id, add tagged logging, and improve webhook forwarding
  .rubocop.yml
  app/agents/application_agent.rb
  app/agents/whatsapp_group_agent.rb
  app/assets/stylesheets/chats.css
  app/components/header.rb
  app/controllers/application_controller.rb
  app/controllers/wa_sender_api_controller.rb
  app/helpers/agent_helper.rb
  app/jobs/application_job.rb
  app/jobs/forward_webhook_to_dev_server_job.rb
  app/models/application_record.rb
  app/models/webhook_message.rb
  app/models/whatsapp_message.rb
  app/views/admin/webhook_messages/index.rb
  app/views/agents/whatsapp_group/_whatsapp_message.md.erb
  app/views/whatsapp_groups/message_history.rb
  config/application.rb
  db/migrate/.rubocop.yml
  db/migrate/20260210155142_convert_message_id_to_whatsapp_id_on_whatsapp_messages.rb
  db/schema.rb
  fly.toml
  lib/tagged_logging.rb
  sorbet/rbi/dsl/forward_webhook_to_dev_server_job.rbi
  sorbet/rbi/dsl/whatsapp_message.rbi
  sorbet/rbi/shims/actionmailer.rbi
  sorbet/rbi/shims/application.rbi
  sorbet/rbi/shims/friendly_id copy.rbi
  sorbet/rbi/shims/friendly_id.rbi
  sorbet/rbi/shims/tagged_logging.rbi
  test/fixtures/whatsapp_messages.yml
  test/models/whatsapp_message_test.rb
Due: prettier, srb, rubocop

Replace quoted replies with @mentions for group message replies
  app/agents/whatsapp_group_agent.rb
  app/models/whatsapp_group.rb
  app/models/whatsapp_user.rb
  lib/wa_sender_api.rb
Due: srb, rubocop

Prompt nits
  app/views/agents/whatsapp_group/reply.md.erb
Due: none

Fix WhatsappGroup#import_memberships to use jid instead of id
  .cursor/skills/import-shadcn-component
  .cursor/skills/import-shadcn-component/SKILL.md
  .cursor/skills/import-shadcn-component/references/conversion-rules.md
  .cursor/skills/rails-active-record-patterns
  .cursor/skills/rails-active-record-patterns/SKILL.md
  .cursor/skills/rails-hotwire
  .cursor/skills/rails-hotwire/SKILL.md
  app/controllers/wa_sender_api_controller.rb
  app/helpers/agent_helper.rb
  app/models/application_record.rb
  app/models/whatsapp_group.rb
Due: prettier, srb, rubocop

Send errors to Sentry in prod
  Gemfile
  Gemfile.lock
  app/javascript/helpers/meta.ts
  app/javascript/initializers/index.ts
  app/javascript/initializers/sentry.ts
  bun.lock
  config/credentials/production.yml.enc
  config/initializers/sentry.rb
  package.json
  sorbet/rbi/gems/sentry-rails@6.3.0.rbi
  sorbet/rbi/gems/sentry-ruby@6.3.0.rbi
Due: prettier, eslint, tsc, srb, rubocop

Fix bot not replying to quoted messages sent with mentions
  app/models/whatsapp_message.rb
Due: srb, rubocop

Update lint excludes
  hk.pkl
Due: none

Upload sourcemaps to Sentry after deploy
  .github/workflows/deploy.yml
  bun.lock
  package.json
Due: prettier

Add logging to WASenderAPI
  app/models/whatsapp_group.rb
  lib/wa_sender_api.rb
Due: srb, rubocop

Correct and simplifiy webhook message parsing
  Gemfile
  Gemfile.lock
  app/models/whatsapp_message.rb
  bin/fly-eval
  bin/fly-exec
  mise.toml
  sorbet/rbi/gems/dig_bang@0.2.1.rbi
Due: srb, rubocop

Fix mentions
  app/agents/whatsapp_group_agent.rb
  app/models/whatsapp_user.rb
Due: srb, rubocop

Fix CI
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  app/models/whatsapp_user.rb
Due: prettier, srb, rubocop

Proper styling of message history chat
  app/assets/stylesheets/chats.css
  app/assets/stylesheets/layouts.css
  app/javascript/controllers/index.ts
  app/javascript/controllers/scroll_to_bottom_controller.ts
  app/views/whatsapp_groups/message_history.rb
Due: prettier, eslint, tsc, srb, rubocop

Attach Sentry to Rails.error reporter
  config/initializers/sentry.rb
  mise.toml
Due: srb, rubocop

Fix duplicate messages in context and refactor message history
  app/agents/whatsapp_group_agent.rb
  app/helpers/agent_helper.rb
  app/models/whatsapp_message.rb
  app/views/agents/whatsapp_group/_whatsapp_message.md.erb
  app/views/agents/whatsapp_group/reply.md.erb
Due: srb, rubocop

Add ignore_missing flag to Sentry sourcemap upload
  .github/workflows/deploy.yml
Due: prettier

Fix operator precedence bug in WhatsappGroup#friendly_id
  app/models/whatsapp_group.rb
Due: srb, rubocop

Extract Chat component from message history view
  app/assets/stylesheets/chats.css
  app/components/card.rb
  app/components/chat.rb
  app/views/whatsapp_groups/message_history.rb
  sorbet/rbi/dsl/components.rbi
  sorbet/rbi/dsl/sentry/send_event_job.rbi
Due: prettier, srb, rubocop

Slightly cleaner history URLs
  app/views/agents/whatsapp_group/instructions.md.erb
  config/routes.rb
  sorbet/rbi/dsl/components.rbi
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
Due: srb, rubocop

Report job errors to Sentry
  app/jobs/application_job.rb
Due: srb, rubocop

Only debug output in development
  lib/wa_sender_api.rb
Due: srb, rubocop

Send failure message to user when reply errors
  app/models/application_record.rb
  app/models/whatsapp_message.rb
Due: srb, rubocop

Support @mentions in agent replies
  app/agents/whatsapp_group_agent.rb
  app/helpers/agent_helper.rb
  app/views/agents/whatsapp_group/reply.md.erb
Due: srb, rubocop

Rename handled_at to reply_sent_at and add messaging guard
  app/jobs/send_whatsapp_group_reply_job.rb
  app/models/application_record.rb
  app/models/whatsapp_message.rb
  config/application.rb
  config/environments/production.rb
  db/migrate/20260211034939_rename_handled_at_to_reply_sent_at_on_whatsapp_messages.rb
  db/schema.rb
  sorbet/rbi/dsl/reconcile_whatsapp_group_metadata_job.rbi
  sorbet/rbi/dsl/whatsapp_message.rbi
  test/fixtures/whatsapp_messages.yml
  test/models/whatsapp_message_test.rb
Due: prettier, srb, rubocop

Add intro_sent_at to WhatsappGroup to prevent duplicate intros
  app/jobs/send_whatsapp_group_intro_job.rb
  app/models/whatsapp_group.rb
  db/migrate/20260211035003_add_intro_sent_at_to_whatsapp_groups.rb
  db/schema.rb
  sorbet/rbi/dsl/reconcile_whatsapp_group_metadata_job.rbi
  sorbet/rbi/dsl/whatsapp_group.rbi
  test/fixtures/whatsapp_groups.yml
  test/models/whatsapp_group_test.rb
Due: prettier, srb, rubocop

Don't auto-fix in pre-commit hook
  hk.pkl
Due: none

Don't send duplicate mention JIDs
  app/agents/whatsapp_group_agent.rb
Due: srb, rubocop

Refactor url helpers in jobs
  app/concerns/url_helpers.rb
  app/jobs/application_job.rb
  app/jobs/forward_webhook_to_dev_server_job.rb
  sorbet/rbi/shims/url_helpers.rbi
Due: srb, rubocop

Robot personality update
  app/views/agents/whatsapp_group/instructions.md.erb
Due: none

Rename quoted_conversation to quoted_message_body
  app/helpers/agent_helper.rb
  app/models/whatsapp_message.rb
  app/views/agents/whatsapp_group/_whatsapp_message.md.erb
  db/migrate/20260211044114_rename_quoted_conversation_to_quoted_message_body_on_whatsapp_messages.rb
  db/schema.rb
  sorbet/rbi/dsl/whatsapp_message.rbi
  test/fixtures/whatsapp_messages.yml
  test/models/whatsapp_message_test.rb
Due: prettier, srb, rubocop

Add send_message_history_link tool and improve agent prompts
  app/agents/application_agent.rb
  app/agents/whatsapp_group_agent.rb
  app/views/agents/whatsapp_group/_whatsapp_message.md.erb
  app/views/agents/whatsapp_group/instructions.md.erb
  app/views/agents/whatsapp_group/introduce_yourself.md.erb
  app/views/agents/whatsapp_group/reply.md.erb
  config/routes.rb
  sorbet/rbi/dsl/application_agent.rbi
  sorbet/rbi/dsl/application_job.rbi
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/dsl/url_helpers.rbi
Due: srb, rubocop

Add dark mode support for chat interface
  app/assets/images/chat_background-dark.jpg
  app/assets/stylesheets/chats.css
  app/assets/stylesheets/theme.css
  app/components/chat.rb
  app/components/field_set.rb
Due: prettier, srb, rubocop

Update send_reply to use reply_sent_at instead of handled_at
  app/models/whatsapp_message.rb
  sorbet/rbi/dsl/application_agent.rbi
Due: srb, rubocop

Add logging to send_reply when adding sender mentions
  app/agents/whatsapp_group_agent.rb
Due: srb, rubocop

Prompt nits
  app/models/whatsapp_message.rb
  app/views/agents/whatsapp_group/instructions.md.erb
Due: srb, rubocop

Async messages loading in message history view
  .rubocop.yml
  app/agents/whatsapp_group_agent.rb
  app/assets/stylesheets/application.css
  app/assets/stylesheets/buttons.css
  app/assets/stylesheets/chats.css
  app/assets/stylesheets/loading.css
  app/components/badge.rb
  app/components/base.rb
  app/components/button.rb
  app/components/card.rb
  app/components/chat.rb
  app/components/chat/messages.rb
  app/components/chat/pagination_button.rb
  app/components/pagination_button.rb
  app/controllers/whatsapp_groups_controller.rb
  app/controllers/whatsapp_messages_controller.rb
  app/javascript/controllers/click_on_appear_controller.ts
  app/javascript/controllers/index.ts
  app/javascript/controllers/maintain_scroll_controller.ts
  app/views/admin/dashboard/show.rb
  app/views/admin/webhook_messages/index.rb
  app/views/home/show.rb
  app/views/pages/landing.rb
  app/views/passwords/edit.rb
  app/views/passwords/new.rb
  app/views/sessions/new.rb
  app/views/whatsapp_groups/message_history.rb
  bun.lock
  config/routes.rb
  package.json
  sorbet/rbi/dsl/components.rbi
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/shims/turbo-rails.rbi
Due: prettier, eslint, tsc, srb, rubocop

Forward message to dev server error handling
  app/controllers/wa_sender_api_controller.rb
  app/jobs/forward_webhook_message_to_dev_server_job.rb
  sorbet/rbi/dsl/forward_webhook_message_to_dev_server_job.rbi
  sorbet/rbi/dsl/forward_webhook_to_dev_server_job.rbi
Due: srb, rubocop

Fix HAPPYTOWN-6
  app/jobs/forward_webhook_message_to_dev_server_job.rb
Due: srb, rubocop

Add uniqueness index to WhatsappGroupMemberships
  app/models/whatsapp_group_membership.rb
  db/migrate/20260211145535_add_uniqueness_index_to_whatsapp_group_memberships.rb
  db/schema.rb
Due: srb, rubocop

Path conditions:
  prettier: any of: *.{ts,tsx,js,jsx,css,yml,yaml,json,md,html}
  eslint: any of: *.{ts,tsx,js,jsx}
  tsc: any of: *.{ts,tsx}
  srb: any of: *.{rb,rbi}
  rubocop: any of: *.{rb,rbi}
  herb-lint: any of: *.{html.erb}
  herb-format: any of: *.{html.erb}
